body {
    font-family: 'Hack', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #8998d4;
    color: #333;
}

#todo-app {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8998d4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}